@import "tailwindcss"; 
@plugin "flowbite-react/plugin/tailwindcss";
@plugin 'tailwind-scrollbar';
@source "../.flowbite-react/class-list.json";

/* body {
    background-color: var(--bg-color);
    color: var(--text-color);
  } */
  
  header, footer, nav, table {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }

  /* Force dark mode on all Flowbite components */
/* .dark {
    --bg-color: rgb(16, 23, 42);
    --text-color: #e2e8f0;
  } */
  
  /* Apply dark mode to body and other elements */
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }

  .ql-editor {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.05rem
  }
  
  .post-content p {
    margin-bottom: 0.5rem
  }

  .post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }

  .post-content a {
    color: rgb(23, 149, 199);
    text-decoration: none;
  }

  .post-content a:hover {
    text-decoration: underline;
  }